.side-bar {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 10px 0px;
  background-color: var(--deep-blue);
  text-align: center;
  transition: 0.5s;
}

.isactive-true {
  width: 25vw;
}

.isactive-false {
  width: 10vw;
}
